flows.json
[{"id":"e329c13a.b548","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"827ecaf1.f30278","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"9922076d.42b858","type":"ui_group","z":"","name":"Reg Form","tab":"827ecaf1.f30278","order":1,"disp":true,"width":"6","collapse":false},{"id":"af9a4f59.f5bb8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11a67833.6ca6e8","type":"ui_group","z":"","name":"Login form","tab":"693dbf4e.c2f4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"693dbf4e.c2f4d","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"c2d3ff1d.e6558","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"dc6753f5.f7ed8","type":"ui_group","z":"","name":"Bot","tab":"c2d3ff1d.e6558","order":1,"disp":true,"width":"6","collapse":false},{"id":"802d5f02.3a9b2","type":"ui_form","z":"e329c13a.b548","name":"","label":"","group":"9922076d.42b858","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":280,"y":160,"wires":[["5436e9d5.a58a68","f79070a1.73956"]]},{"id":"5436e9d5.a58a68","type":"debug","z":"e329c13a.b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"f79070a1.73956","type":"function","z":"e329c13a.b548","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":160,"wires":[["1da38f2f.af23d1"]]},{"id":"1da38f2f.af23d1","type":"cloudant out","z":"e329c13a.b548","name":"cloudant","cloudant":"","database":"sample","service":"node-red-mjspi-2020--cloudant-1597405135368-43266","payonly":true,"operation":"insert","x":680,"y":160,"wires":[]},{"id":"1180586e.34b818","type":"ui_form","z":"e329c13a.b548","name":"","label":"","group":"11a67833.6ca6e8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":280,"y":260,"wires":[["2a608c99.d90564"]]},{"id":"2a608c99.d90564","type":"function","z":"e329c13a.b548","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["f1ecee4.100ee1"]]},{"id":"f1ecee4.100ee1","type":"function","z":"e329c13a.b548","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":260,"wires":[["d5b61b91.1d9c38"]]},{"id":"d5b61b91.1d9c38","type":"cloudant in","z":"e329c13a.b548","name":"","cloudant":"","database":"sample","service":"node-red-mjspi-2020--cloudant-1597405135368-43266","search":"_idx_","design":"user","index":"user","x":860,"y":260,"wires":[["7353f46.e8e880c"]]},{"id":"7353f46.e8e880c","type":"function","z":"e329c13a.b548","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":260,"wires":[["9412c69b.a30458"]]},{"id":"9412c69b.a30458","type":"ui_text","z":"e329c13a.b548","group":"11a67833.6ca6e8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":260,"wires":[]},{"id":"7b6850b7.01c39","type":"ui_form","z":"e329c13a.b548","name":"","label":"","group":"dc6753f5.f7ed8","order":0,"width":0,"height":0,"options":[{"label":"User Input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":270,"y":340,"wires":[["fedfea4.8fd4718"]]},{"id":"fedfea4.8fd4718","type":"function","z":"e329c13a.b548","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["24d05282.cad43e"]]},{"id":"24d05282.cad43e","type":"watson-conversation-v1","z":"e329c13a.b548","name":"","workspaceid":"7643c2e3-1736-42de-b8ee-f6e29aabfc8b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0390926e-2f7a-4fba-8b97-2c8dc9b17a8d","timeout":"","optout-learning":false,"x":670,"y":340,"wires":[["f3b8ea91.f2ba18","9cb42d36.1cf13"]]},{"id":"f3b8ea91.f2ba18","type":"debug","z":"e329c13a.b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"9cb42d36.1cf13","type":"function","z":"e329c13a.b548","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":340,"wires":[["82153fb5.ce088","2cc2edcb.0104c2"]]},{"id":"82153fb5.ce088","type":"ui_text","z":"e329c13a.b548","group":"dc6753f5.f7ed8","order":1,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":340,"wires":[]},{"id":"2cc2edcb.0104c2","type":"ui_audio","z":"e329c13a.b548","name":"","group":"dc6753f5.f7ed8","voice":"","always":"","x":1060,"y":400,"wires":[]}]